<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学习资料管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">

    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/goodsController.js"></script>
    <script type="text/javascript" src="../js/service/goodsService.js"></script>
    <script type="text/javascript" src="../js/service/itemCatService.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="jxs" ng-controller="goodsController"
      ng-init="searchEntity={auditStatus:'0'};findItemCatList()">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">文章管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="所有文章"><i class="fa fa-refresh"></i> 所有文章
                    </button>
                    <button type="button" ng-click="updateStatus('1')" class="btn btn-default" title="未审核"><i
                            class="fa fa-check"></i> 未审核
                    </button>
                    <button type="button" ng-click="updateStatus('1')" class="btn btn-default" title="已审核"><i
                            class="fa fa-check"></i> 已审核
                    </button>
                    <button type="button" ng-click="updateStatus('1')" class="btn btn-default" title="审核通过"><i
                            class="fa fa-check"></i> 审核通过
                    </button>
                    <button type="button" ng-click="updateStatus('2')" class="btn btn-default" title="驳回"><i
                            class="fa fa-ban"></i> 驳回
                    </button>
                    <button type="button" ng-click="dele()" class="btn btn-default" title="删除"><i
                            class="fa fa-trash-o"></i> 删除
                    </button>

                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                文章名称：<input>
                <button class="btn btn-default">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">ID</th>
                <th class="sorting">标题</th>
                <th class="sorting">所属栏目</th>
                <th class="sorting">来源</th>
                <th class="sorting">作者</th>
                <th class="sorting">更新时间</th>
                <th class="sorting">点击数</th>
                <th class="sorting">录入者</th>
                <th class="sorting">状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr ng-repeat="entity in list">
                 <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
                 <td>{{entity.id}}</td>
                 <td>{{entity.goodsName}}</td>
                 <td>{{entity.price}}</td>
                 <td>{{itemCatList[entity.category1Id]}}</td>
                 <td>{{itemCatList[entity.category2Id]}}</td>
                 <td>{{itemCatList[entity.category3Id]}}</td>
                 <td>
                     <span>
                         {{status[entity.auditStatus]}}
                     </span>

                 </td>
                 <td class="text-center">
                      <button type="button" class="btn bg-olive btn-xs" >编辑</button>
                      <button type="button" class="btn bg-olive btn-xs" >删除</button>
                 </td>
             </tr>-->
            <tr>
                <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
                 <td>1</td>
                <td><a href="2.html">猪疥螨病怎么治 做好这三点</a></td>
                 <td>养殖</td>
                 <td>农村大众报</td>
                 <td></td>
                 <td>2019-4-24</td>
                 <td>150</td>
                 <td>宁知</td>
                 <td>已审</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" >编辑</button>
                    <button type="button" class="btn bg-olive btn-xs" >删除</button>
                </td>
            </tr>
            <tr>
                <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
                <td>2</td>
                <td>小麦防倒伏重在春管</td>
                <td>大田作物</td>
                <td>网络</td>
                <td></td>
                <td>2019-4-24</td>
                <td>100</td>
                <td>宁知</td>
                <td>已审</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" >编辑</button>
                    <button type="button" class="btn bg-olive btn-xs" >删除</button>
                </td>
            </tr>

            <tr>
                <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
                <td>3</td>
                <td>水稻扬花期病虫害防治技术</td>
                <td>大田作物</td>
                <td>中国三农网</td>
                <td></td>
                <td>2019-4-24</td>
                <td>126</td>
                <td>宁知</td>
                <td>已审</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" >编辑</button>
                    <button type="button" class="btn bg-olive btn-xs" >删除</button>
                </td>
            </tr>

            <tr>
                <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
                <td>4</td>
                <td>蔬菜喷灌施肥的操作要点</td>
                <td>蔬菜</td>
                <td>网络</td>
                <td></td>
                <td>2019-4-24</td>
                <td>196</td>
                <td>夏宇</td>
                <td>已审</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" >编辑</button>
                    <button type="button" class="btn bg-olive btn-xs" >删除</button>
                </td>
            </tr>

            <tr>
                <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
                <td>5</td>
                <td>大量元素水溶肥的使用方法</td>
                <td>施肥</td>
                <td>网络</td>
                <td></td>
                <td>2019-4-24</td>
                <td>496</td>
                <td>夏宇</td>
                <td>已审</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" >编辑</button>
                    <button type="button" class="btn bg-olive btn-xs" >删除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->


    </div>
    <!-- 数据表格 /-->
    <!-- 分页 -->
    <tm-pagination conf="paginationConf"></tm-pagination>

</div>
<!-- /.box-body -->

</body>

</html>